{% extends "document-me.html" %}

{% block body %}
<div v-bind:data-pending="pending" class="col-md-12 px-0">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                <div class="row bg-white shadow" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">

                    <div class="col-lg-12 d-flex flex-row justify-content-between align-items-center py-3" style="background-color: #eeeeee;">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <a href="/me" class="text-dark text-decor-none mr-2">
                                <svg width="35px" height="35px" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="m9.474 5.209s-4.501 4.505-6.254 6.259c-.147.146-.22.338-.22.53s.073.384.22.53c1.752 1.754 6.252 6.257 6.252 6.257.145.145.336.217.527.217.191-.001.383-.074.53-.221.293-.293.294-.766.004-1.057l-4.976-4.976h14.692c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-14.692l4.978-4.979c.289-.289.287-.761-.006-1.054-.147-.147-.339-.221-.53-.221-.191-.001-.38.071-.525.215z" fill-rule="nonzero"/></svg>
                            </a>
                            <span style="font-weight: 500; font-size: 24px;">Work</span>
                        </div>
                        {% include 'parts/drop-out.html' %}
                    </div>

                    <div id="vApp" v-cloak v-bind:data-pending="pending" class="col-lg-12 px-0">
                        <div class="col-lg-12 pt-3">
                            {% include 'parts/flash.html' %}
                        </div>

                        <div>
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active content-nav-btn" href="#">
                                        <span>Work Details</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content p-3" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                            <form ref="form" v-on:submit.prevent="onSubmit" action="/me/update-alumni-record/{{alumni.refNumber}}/work?_method=patch" method="POST" class="form-default">
                                <input type="hidden" name="acsrf" value="{{acsrf}}">
                
                                <div class="row">
                                    <div class="col-xl-12 form-group mb-0">
                                        <div class="alert alert-warning" role="alert">Leave the form blank if you are not yet able to work.</div>
                                    </div>

                                    <div class="col-xl-12 form-group mb-2" :data-error="errors.position" @click="errors.position=false">
                                        <label for="position" class="form-label">Position <span class="text-danger">*</span></label>
                                        <input v-model="position" name="position" type="text" class="form-control" id="position">
                                    </div>
                                    <div class="col-xl-12 form-group mb-2" :data-error="errors.companyName" @click="errors.companyName=false">
                                        <label for="companyName" class="form-label">Company Name <span class="text-danger">*</span></label>
                                        <input v-model="companyName" name="companyName" type="text" class="form-control" id="companyName">
                                    </div>
                                    <div class="col-xl-12 form-group mb-2" :data-error="errors.companyAddress" @click="errors.companyAddress=false">
                                        <label for="companyAddress" class="form-label">Company Address <span class="text-danger">*</span></label>
                                        
                                        <input v-model="companyAddress" name="companyAddress" id="companyAddress" type="hidden" class="form-control">
                                        <autocomplete
                                            initial-value=""
                                            :initial-display="companyAddress"
                                            placeholder="Type your company address..."
                                            :source="dataSource1"
                                            input-class="form-control"
                                            :request-headers="headers"
                                            v-on:selected="onSelect1"
                                            v-on:clear="companyAddress=''"
                                            >
                                        </autocomplete>
                                    </div>
                                    <div class="col-xl-6 form-group mb-2" :data-error="errors.employmentStatus" @click="errors.employmentStatus=false">
                                        <label for="employmentStatus" class="form-label">Employment Status <span class="text-danger">*</span></label>
                                        <select v-model="employmentStatus" name="employmentStatus" id="employmentStatus" class="form-control">
                                            <option value=""></option>
                                            <option v-for="s in employmentStatusesList" :value="s">${s}</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 form-group mb-2" :data-error="errors.govt" @click="errors.govt=false">
                                        <label for="govt" class="form-label">Gov't Service? <span class="text-danger">*</span></label>
                                        <select v-model="govt" name="govt" id="govt" class="form-control">
                                            <option value=""></option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6 form-group mb-2" :data-error="errors.from" @click="errors.from=false">
                                        <label for="from" class="form-label">From <span class="text-danger">*</span></label>
                                        <input v-model="from" name="from" type="date" class="form-control" id="from">
                                    </div>
                                    <div class="col-xl-6 form-group" :data-error="errors.to" @click="errors.to=false">
                                        <div class="d-flex justify-content-between">
                                            <label for="to" class="form-label">To <span class="text-danger">*</span></label>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="isPresent" @change="togglePresent">
                                                <label class="custom-control-label" for="customSwitch1">Present</label>
                                            </div>
                                        </div>
                                        <input v-model="to" name="to" :type="(isPresent ? 'text' : 'date')" class="form-control" id="to" :disabled="isPresent">
                                    </div>
                
                                    <div class="col-xl-12">
                                        <div class="form-group mb-0 d-flex">
                                            <input :value="payload" type="hidden" name="payload" />
                                            <button id="btnSubmit" class="btn btn-success flex-grow-1">${updateText}</button>
                                        </div>
                                    </div>
                                </div>
                
                            </form>
                        </div>

                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/rest-helpers.js"></script>
<script src="{{app.url}}/js/vuejs-auto-complete.js"></script>
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    const ENV = '{{ENV}}';
    const employmentStatusesList = {{employmentStatuses|default([], true)|stringify|safe}}
    const vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            VuePhAddress.mixin
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            pending: false,
            isPresent: '{{work.isPresent}}' === 'true',
            employmentStatusesList: employmentStatusesList,
            position: `{{work.position}}`,
            companyName: `{{work.companyName}}`,
            companyAddress: `{{work.companyAddress}}`,
            employmentStatus: `{{work.employmentStatus}}`,
            govt: `{{work.govt}}`,
            from: `{{work.from|format_date('YYYY-MM-DD')}}`,
            to: `{{work.to}}`,
            errors: {
                position: false,
                companyName: false,
                companyAddress: false,
                employmentStatus: false,
                govt: false,
                from: false,
                to: false
            }
        },
        watch: {
            isPresent: 'togglePresent'
        },
        computed: {
            updateText: function updateText() {
                return this.pending ? 'Updating...' : 'Update';
            },
            payload: function payload() {
                var me = this;
                return JSON.stringify({
                    position: me.position,
                    companyName: me.companyName,
                    companyAddress: me.companyAddress,
                    employmentStatus: me.employmentStatus,
                    govt: me.govt,
                    from: me.from,
                    to: me.to,
                    isPresent: me.isPresent
                });
            }
        },
        methods: {
            togglePresent() {
                if (this.isPresent) {
                    this.to = 'Present'
                } else {
                    this.to = ''
                }
            },
            onSelect1: function(o){
                this.companyAddress = o.display
            },
            dataSource1: function(input) {
                return '/address?s=' + input
            },
            onSubmit: function(e){
                try {
                    const me = this;

                    Object.keys(this.$data).forEach(key => {
                        if(typeof this[key] === 'string'){
                            this[key] = this[key].trim()
                        }
                    });

                    if(!me.position){
                        me.errors.position = true
                        throw new Error('Position is required.')
                    }
                    if(!me.companyName){
                        me.errors.companyName = true
                        throw new Error('Company Name is required.')
                    }
                    if(!me.companyAddress){
                        me.errors.companyAddress = true
                        throw new Error('Company Address is required.')
                    }
                    if(!me.employmentStatus){
                        me.errors.employmentStatus = true
                        throw new Error('Employment Status is required.')
                    }
                    if(!me.govt){
                        me.errors.govt = true
                        throw new Error(`Gov't Service is required.`)
                    }
                    if(!me.from){
                        me.errors.from = true
                        throw new Error('From is required.')
                    }
                    if(!me.to){
                        me.errors.to = true
                        throw new Error('To is required.')
                    }

                    me.$nextTick(function() {
                        me.pending = true;
                        me.$refs.form.submit();
                    });

                } catch (err) {
                    alert(err.message)
                }
            }
        }
        
    });

    window.addEventListener("hashchange", function (event) {
        var currentPath = window.location.hash;
        if (vApp.page !== currentPath) {
            vApp.page = currentPath;
        }
    }, false);
</script>
{% endblock %}

