{% extends "document-public-landing.html" %}

{% block body %}
<style>
    body {
        background: hsla(211, 80%, 33%, 1) 100% !important;
    }
    .footer-public {
        display: none !important;
    }
</style>
<div class="col-md-12 px-0" 
style="
background: hsla(0, 0%, 96%, 1);
background: linear-gradient(315deg, 
hsla(95, 47%, 71%, 1) 0%, 
hsla(168, 41%, 50%, 1) 28%, 
hsla(184, 62%, 39%, 1) 44%, 
rgb(37, 117, 182) 54%, 
hsla(211, 80%, 33%, 1) 100%) fixed;">
    <div class="container">
        <div class="row mt-md-5 mt-3 mb-md-5 mb-3">
            <div class="col-md-6">
                <a href="https://www.gsu.edu.ph/" target="_blank">
                    <video title="GSU Promotional Video" autoplay muted loop preload="auto" disablepictureinpicture playsinline class="home-video-land shadow-lg">
                        <source src="https://videos-gsu-ph.s3.ap-southeast-1.amazonaws.com/stream-home.mp4" type="video/mp4">
                    </video>
                </a>
            </div>
            <div class="col-md-6 pt-md-0 pt-3">
                <h1 style="font-size: 28px;" class="mb-4 text-light">Update your Alumni Profile online now.</h1>
                <div class="mb-4">
                    <p class="text-light">The is a free service to all Guimaras State University graduates.</p>
                </div>
                <a href="/register" class="btn btn-warning shadow-sm rounded mb-1">Register</a>
                <a href="/login" class="btn btn-light shadow-sm rounded mb-1">Login</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 bg-white px-0">
    <div class="container">
        <div class="row my-4">
            <div class="col-xl-4 d-flex flex-row justify-content-center align-items-center">
                <h1 class="h4 font-weight-bold mb-2">Frequently Asked Questions (FAQs)</h1>
            </div>
            <div class="col-xl-8">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#c1" aria-expanded="true" aria-controls="c1">
                                What is Alumni Portal?
                          </button>
                        </h2>
                      </div>
                  
                      <div id="c1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body border-left-teal">
                            It is an online platform designed to help the university manage and connect with its graduates.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#c2" aria-expanded="false" aria-controls="c2">
                                What do I need to access the Alumni Portal?
                          </button>
                        </h2>
                      </div>
                      <div id="c2" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body border-left-teal">
                            You need a computer or mobile device, an internet connection, a web brower (E.g. <a href="https://www.google.com/intl/en_ph/chrome/next-steps.html?statcb=1&installdataindex=empty&defaultbrowser=0">Google Chrome</a>, <a href="https://www.microsoft.com/en-us/edge/download?form=MA13FJ">Microsoft Edge</a>, etc.), and a username and password issued by the Alumni Affairs Office.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#c3" aria-expanded="false" aria-controls="c3">
                                What should I do if I forget my password?
                            </button>
                          </h2>
                        </div>
                        <div id="c3" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body border-left-teal">
                            On the login page, look for "Forgot your password? <a href="https://alumni.gsu.edu.ph/reset">Reset here</a>," then click the link. Once redirected to the password reset page, enter a valid email address associated to your alumni account and click <span class="text-danger">Reset</span>. You will receive an email with instructions to verify your request. If you do not receive the email, check your spam folder or contact the Alumni Affairs Office for assistance.
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#c4" aria-expanded="false" aria-controls="c4">
                                  Who developed the Alumni Portal?
                            </button>
                          </h2>
                        </div>
                        <div id="c4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body border-left-teal">
                              It was developed through a collaboration between the university’s Alumni Affairs Office and the <a href="https://ict.gsu.edu.ph/">Information and Communications Technology Unit (ICTU)</a>.
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'parts/footer-public-sub.html' %}

{% endblock %}
