{% extends "document-public-landing.html" %}

{% block body %}
<style>
    body {
        background: hsla(211, 80%, 33%, 1) 100% !important;
    }
    .footer-public {
        display: none !important;
    }
</style>
<div class="col-md-12 px-0" 
style="
background: hsla(0, 0%, 96%, 1);
background: linear-gradient(315deg, 
hsla(95, 47%, 71%, 1) 0%, 
hsla(168, 41%, 50%, 1) 28%, 
hsla(184, 62%, 39%, 1) 44%, 
rgb(37, 117, 182) 54%, 
hsla(211, 80%, 33%, 1) 100%) fixed;">
    <div class="container">
        <div class="row mt-md-4 mt-3 mb-md-3 mb-2">
            <div class="col-md-12">
                <h1 style="font-size: 25px;" class="text-light text-no-wrap">Organizational Structure</h1>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 bg-white px-0">
    <div class="container">
        <div class="row my-4">
            <div class="col-xl-12">
                <div class="row mb-5">
                    <h1 style="font-size: 25px;" class="font-weight-bold w-100 mb-3 text-center">Federated Alumni Officers</h1>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-esmana-min.png" width="200px" alt="President">
                        <h3 class="mb-0 font-weight-bold">JEYSON G. ESMAÑA</h3>
                        <p class="mb-0">President</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-gallo-min.png" width="200px" alt="Vice President">
                        <h3 class="mb-0 font-weight-bold">REYNAN C. GALLO</h3>
                        <p class="mb-0">Vice President</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-sumaculob-min.png" width="200px" alt="Secretary">
                        <h3 class="mb-0 font-weight-bold">GENE MARIE F. SUMACULOB</h3>
                        <p class="mb-0">Secretary</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-gabayoyo-min.png" width="200px" alt="Treasurer">
                        <h3 class="mb-0 font-weight-bold">FLORES M. GABAYOYO</h3>
                        <p class="mb-0">Treasurer</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-fernandez-min.png" width="200px" alt="Business Manager">
                        <h3 class="mb-0 font-weight-bold">EMAN FERNANDEZ</h3>
                        <p class="mb-0">Business Manager</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-guillen-min.png" width="200px" alt="Auditor">
                        <h3 class="mb-0 font-weight-bold">WINNIE C. GUILLEN</h3>
                        <p class="mb-0">Auditor</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-ferrer-min.png" width="200px" alt="Public Information Officer (P.I.O)">
                        <h3 class="mb-0 font-weight-bold">RINALYN D. FERRER</h3>
                        <p class="mb-0">Public Information Officer (P.I.O)</p>
                    </div>
                </div>
                <div class="row">
                    <h1 style="font-size: 25px;" class="font-weight-bold w-100 mb-3 text-center">Board of Trustees</h1>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/temp-placeholder-male.png" width="200px" alt="Board of Trustees 1">
                        <h3 class="mb-0 font-weight-bold">VIZUR TY C. GAITANO</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-japitana-min.png" width="200px" alt="Board of Trustees 2">
                        <h3 class="mb-0 font-weight-bold">ARCH. GIL V. JAPITANA</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-regacho-min.png" width="200px" alt="Board of Trustees 3">
                        <h3 class="mb-0 font-weight-bold">RODEL S. REGACHO</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-depamallo-min.png" width="200px" alt="Board of Trustees 4">
                        <h3 class="mb-0 font-weight-bold">RICHARD D. DEPAMALLO</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-gabinera-min.png" width="200px" alt="Board of Trustees 5">
                        <h3 class="mb-0 font-weight-bold">ALEX A. GABINERA</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-chavez-min.png" width="200px" alt="Board of Trustees 6">
                        <h3 class="mb-0 font-weight-bold">JANICE M. CHAVEZ</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/temp-placeholder-male.png" width="200px" alt="Board of Trustees 7">
                        <h3 class="mb-0 font-weight-bold">WILSON F. TOSINO</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/temp-placeholder-female.png" width="200px" alt="Board of Trustees 8">
                        <h3 class="mb-0 font-weight-bold">ELMA M. SANTACERA</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/temp-placeholder-female.png" width="200px" alt="Board of Trustees 9">
                        <h3 class="mb-0 font-weight-bold">DAVEROSE S. GALLEGO</h3>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3">
                        <img  class="mb-1" src="/images/officers/soc-med-suganog-min.png" width="200px" alt="Board of Trustees 10">
                        <h3 class="mb-0 font-weight-bold">KEVIN F. SUGANOG</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'parts/footer-public-sub.html' %}

{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function(){
        var title = '{{app.title}}';
        document.title = `Organizational Structure | ${title}`;
    });
</script>
{% endblock %}
