{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Services</h1>
        </div>
        
    </div>
    {% include 'parts/flash.html' %}

    
    {% if services.length <= 0 %}
        <p>None found.</p>
    {% else %}
        
        <div class="tab-content pt-3 pb-2 pl-3 pr-3 mb-5">
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th width="5%"></th>
                            <th>Name</th>
                            <th>Group</th>
                            <th width="15%">Created</th>
                            <th width="10%" class="text-center">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in services %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{row.name}}</td>
                            <td><a href="/admin/groups/{{row.groupId}}">Group {{row.groupId}}</a></td>
                            <td class="small">{{row.createdAt|format_date('MMM DD, YYYY hh:mm A')}}</td>
                            <td class="text-center">
                                <a href="/admin/services/{{row.id}}" class="btn btn-link">
                                    <svg style="width:24px;height:24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Edit</title><path fill="currentColor" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" /></svg>
                                </a>
                                <a href="/admin/services/{{row.id}}/delete" class="text-danger">
                                    <svg style="width:24px;height:24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Delete</title><path fill="currentColor" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z" /></svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

