{% extends "document-print.html" %}

{% block body %}
<div class="col-xl-12">
    <div class="row print-hidden">
        <div class="col-xl-12 d-flex justify-content-between flex-wrap align-items-center mb-3">
            <h1 class="h3">Print Alumni Records</h1>
            <a href="/admin/alumni-records" class="btn btn-sm btn-outline-danger"><span>Back</span></a>
        </div>
        <div class="col-xl-12">
            <div class="col-xl-12 alert alert-warning" role="alert"><i>Press CTRL + P to open printer options. You must be on a laptop or desktop computer.</i></div>
        </div>
    </div>

    {% include 'parts/document-header.html' %}

    <div id="vApp" v-cloak class="col-xl-12">
        <div class="row print-show">
            <div class="col-xl-12 mb-4">
                <h3 class="text-center">
                    <span class="text-underline-2 mr-2">A</span>
                    <span class="text-underline-2 mr-2">L</span>
                    <span class="text-underline-2 mr-2">U</span>
                    <span class="text-underline-2 mr-2">M</span>
                    <span class="text-underline-2 mr-2">N</span>
                    <span class="text-underline-2 mr-4">I</span>
                    <span class="text-underline-2 mr-2">R</span>
                    <span class="text-underline-2 mr-2">E</span>
                    <span class="text-underline-2 mr-2">C</span>
                    <span class="text-underline-2 mr-2">O</span>
                    <span class="text-underline-2 mr-2">R</span>
                    <span class="text-underline-2 mr-2">D</span>
                    <span class="text-underline-2 mr-2">S</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="span-full-40 col-md-5 d-flex flex-row justify-content-center align-items-center mb-2">
                <div style="width: 220px; height: 220px; overflow: hidden; border-radius: 100%; border: 1px solid #000000;">
                    <img src="{{user.imgPath}}" style="width: 100%; height: 100%; object-fit: cover;" alt="">
                </div>
            </div>
            <div class="span-full-60 col-md-7 py-2">
                <h1 class="h5 mb-2"><span class="text-underline-1">{{viewAlm.firstName}}</span> <span class="text-underline-1">{{viewAlm.middleName}}</span> <span class="text-underline-1">{{viewAlm.lastName}}</span> <span class="text-underline-1">{{viewAlm.suffix}}</span></h1>
                <p>
                    {% if viewAlm.presentAddress %}
                        <span>{{viewAlm.presentAddress}}</span>
                    {% else %}
                        <span>...</span>
                    {% endif %}
                </p>
                <div class="form-group mt-3">
                    <p class="mb-1">Reach me at:</p>
                    <div class="mb-0">
                        <div class="d-flex mb-2">
                            <div class="mr-2 round-nums list-badge-round-xs">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 24 24">
                                    <title>Facebook</title>
                                    <path fill="currentColor" d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/>
                                </svg>
                            </div>
                            <div class="v-align-center">
                                {% if viewAlm.fbName %}
                                    <span>{{viewAlm.fbName}}</span>
                                {% else %}
                                    <span>...</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex mb-2">
                            <div class="mr-2 round-nums list-badge-round-xs">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 24 24">
                                    <title>Email</title>
                                    <path fill="currentColor" d="M12 12.713l-11.985-9.713h23.971l-11.986 9.713zm-5.425-1.822l-6.575-5.329v12.501l6.575-7.172zm10.85 0l6.575 7.172v-12.501l-6.575 5.329zm-1.557 1.261l-3.868 3.135-3.868-3.135-8.11 8.848h23.956l-8.11-8.848z"/>
                                </svg>
                            </div>
                            <div class="v-align-center">
                                {% if viewAlm.email %}
                                    <span>{{viewAlm.email}}</span>
                                {% else %}
                                    <span>...</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex mb-2">
                            <div class="mr-2 round-nums list-badge-round-xs">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 24 24">
                                    <title>Phone</title>
                                    <path fill="currentColor" d="M20 22.621l-3.521-6.795c-.008.004-1.974.97-2.064 1.011-2.24 1.086-6.799-7.82-4.609-8.994l2.083-1.026-3.493-6.817-2.106 1.039c-7.202 3.755 4.233 25.982 11.6 22.615.121-.055 2.102-1.029 2.11-1.033z"/>
                                </svg>
                            </div>
                            <div class="v-align-center">
                                {% if viewAlm.mobileNumber %}
                                    <span>{{viewAlm.mobileNumber}}</span>
                                {% else %}
                                    <span>...</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h1 class="h5">A. Basic Information</h1>
            <table class="table table-sm table-bordered table-print-report">
                <tbody>
                    <tr>
                        <td width="20%" class="text-right text-bold">Birthdate</td>
                        <td width="30%" class="text-center">
                            {% if viewAlm.birthDate|age > 0 %}
                            {{viewAlm.birthDate|format_date('MMM DD, YYYY')}}
                            <em>({{viewAlm.birthDate|age}} yrs.)</em>
                            {% elseif viewAlm.birthDate|age == 0 %}
                                <span>Less than a year.</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                        <td width="20%" class="text-right text-bold">Gender</td>
                        <td width="30%" class="text-center">
                            {% if viewAlm.gender == 'M' %}
                                <span>Male</span>
                            {% elseif viewAlm.gender == 'F' %}
                                <span>Female</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right text-bold">Civil Status</td>
                        <td width="30%" class="text-center">
                            {% if viewAlm.civilStatus %}
                                <span>{{viewAlm.civilStatus}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                        <td width="20%" class="text-right text-bold">Citizenship</td>
                        <td width="30%" class="text-center">
                            {% if viewAlm.citizenship %}
                                <span>{{viewAlm.citizenship}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right text-bold">Religion</td>
                        <td width="30%" class="text-center">
                            {% if viewAlm.religion %}
                                <span>{{viewAlm.religion}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                        <td width="20%" class="text-right text-bold">Permanent Address</td>
                        <td width="30%" class="text-center">
                            {% if viewAlm.permanentAddress %}
                                <span>{{viewAlm.permanentAddress}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right text-bold">Parent / Guardian</td>
                        <td width="80%" colspan="3" class="text-center">
                            {% if viewAlm.guardianName %}
                                <span>{{viewAlm.guardianName}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}

                            <em class="ml-2">({% if viewAlm.guardianMobileNumber %}
                                <span>{{viewAlm.guardianMobileNumber}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %})</em>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right text-bold">Emergency Person</td>
                        <td width="80%" colspan="3" class="text-center">
                            {% if viewAlm.emergencyPersonName %}
                                <span>{{viewAlm.emergencyPersonName}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}

                            <em class="ml-2">({% if viewAlm.emergencyPersonMobileNumber %}
                                <span>{{viewAlm.emergencyPersonMobileNumber}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %})</em>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <h1 class="h5">B. Education</h1>
            <table class="table table-sm table-bordered table-print-report">
                <tbody>
                    <tr>
                        <td width="20%" class="text-right text-bold">Degree</td>
                        <td width="30%" class="text-center">
                            {% if educ.degree %}
                                <span>{{educ.degree}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                        <td width="20%" class="text-right text-bold">Batch</td>
                        <td width="30%" class="text-center">
                            {% if educ.yearGraduated %}
                                <span>{{educ.yearGraduated}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right text-bold">Campus</td>
                        <td width="30%" class="text-center">
                            {% if educ.campus %}
                                <span>{{educ.campus}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                        <td width="20%" class="text-right text-bold">College / Track</td>
                        <td width="30%" class="text-center">
                            {% if educ.degree === 'College' or educ.degree === 'Graduate Studies' %}
                                {% if educ.college %}
                                    <span>{{educ.college}}</span>
                                {% else %}
                                    <span>...</span>
                                {% endif %}
                            {% elseif educ.degree === 'Senior High School' %}
                                {% if educ.track %}
                                    <span>{{educ.track}}</span>
                                {% else %}
                                    <span>...</span>
                                {% endif %}
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right text-bold">Course / Strand</td>
                        <td width="30%" class="text-center">
                            {% if educ.degree === 'College' or educ.degree === 'Graduate Studies' %}
                                {% if educ.course %}
                                    <span>{{educ.course}}</span>
                                {% else %}
                                    <span>...</span>
                                {% endif %}
                            {% elseif educ.degree === 'Senior High School' %}
                                {% if educ.strand %}
                                    <span>{{educ.strand}}</span>
                                {% else %}
                                    <span>...</span>
                                {% endif %}
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                        <td width="20%" class="text-right text-bold">ID Number</td>
                        <td width="30%" class="text-center">
                            {% if educ.idNumber %}
                                <span>{{educ.idNumber}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <h1 class="h5">C. Work</h1>
            <table class="table table-sm table-bordered table-print-report">
                <tbody>
                    <tr>
                        <td width="20%" class="text-right text-bold">Position</td>
                        <td width="30%" class="text-center">
                            {% if work.position %}
                                <span>{{work.position}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                        <td width="20%" class="text-right text-bold">Employment Status</td>
                        <td width="30%" class="text-center">
                            {% if work.employmentStatus %}
                                <span>{{work.employmentStatus}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right text-bold">Company Name</td>
                        <td width="30%" class="text-center">
                            {% if work.companyName %}
                                <span>{{work.companyName}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                        <td width="20%" class="text-right text-bold">Company Address</td>
                        <td width="30%" class="text-center">
                            {% if work.companyAddress %}
                                <span>{{work.companyAddress}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right text-bold">Gov't. Service</td>
                        <td width="30%" class="text-center">
                            {% if work.govt %}
                                <span>{{work.govt}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                        <td width="20%" class="text-right text-bold">From - To</td>
                        <td width="30%" class="text-center">
                            {% if work.from %}
                                <span>{{work.from|format_date('MMM DD, YYYY')}}</span>
                            {% else %}
                                <span>...</span>
                            {% endif %}
                            -
                            {% if work.to %}
                                {% if work.to === 'Present' %}
                                    <span>{{work.to}}</span>
                                {% else %}
                                    <span>{{work.to|format_date('MMM DD, YYYY')}}</span>
                                {% endif %}
                            {% else %}
                                <span>...</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    const vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
    });
</script>
{% endblock %}