{% extends "document.html" %}

{% block body %}
<div v-bind:data-pending="pending" class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Update Work Details</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/admin/alumni-records/{{editAlm.refNumber}}/view#content3" class="btn btn-sm btn-outline-primary content-nav-btn">
                    <svg width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                        <title>Back</title>
                        <path fill="currentColor" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"/><path fill="currentColor" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"/>
                    </svg>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    <div id="vApp" v-cloak>
        <div class="tab-content p-3">
            <form ref="form" v-on:submit.prevent="onSubmit" action="/admin/alumni-records/{{editAlm.refNumber}}/edit/work?_method=patch" method="POST" class="form-default">
                <input type="hidden" name="acsrf" value="{{acsrf}}">

                <div class="row">                    
                    <div class="col-xl-6 form-group mb-2" :data-error="errors.employmentStatus" @click="errors.employmentStatus=false">
                        <label for="employmentStatus" class="form-label">Employment Status <span class="text-danger">*</span></label>
                        <select v-model="employmentStatus" name="employmentStatus" id="employmentStatus" class="form-control" @change="checkEmpStat">
                            <option value=""></option>
                            <option v-for="s in employmentStatusesList" :value="s">${s}</option>
                        </select>
                    </div>
                    <div v-if="empStat === 'Employed' || empStat === 'Self-Employed'" class="col-xl-6 form-group mb-2" :data-error="errors.employmentSector" @click="errors.employmentSector=false">
                        <label for="employmentSector" class="form-label">Employment Sector <span class="text-danger">*</span></label>
                        <select v-model="employmentSector" name="employmentSector" id="employmentSector" class="form-control">
                            <option value=""></option>
                            <option v-for="ss in employmentSectorsList" :value="ss">${ss}</option>
                        </select>
                    </div>
                    <div v-if="empStat === 'Employed' || empStat === 'Self-Employed'" class="col-xl-6 form-group mb-2" :data-error="errors.employmentLocation" @click="errors.employmentLocation=false">
                        <label for="employmentLocation" class="form-label">Employment Location <span class="text-danger">*</span></label>
                        <select v-model="employmentLocation" name="employmentLocation" id="employmentLocation" class="form-control" @change="checkEmpLoc">
                            <option value=""></option>
                            <option v-for="sl in employmentLocationsList" :value="sl">${sl}</option>
                        </select>
                    </div>
                    <div v-if="empStat === 'Employed' || empStat === 'Self-Employed'" class="col-xl-6 form-group mb-2" :data-error="errors.workProgramAlignment" @click="errors.workProgramAlignment=false">
                        <label for="workProgramAlignment" class="form-label">Work Alignment to the Course / Program <span class="text-danger">*</span></label>
                        <select v-model="workProgramAlignment" name="workProgramAlignment" id="workProgramAlignment" class="form-control">
                            <option value=""></option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div v-if="empStat === 'Employed' || empStat === 'Self-Employed'" class="col-xl-6 form-group mb-2" :data-error="errors.position" @click="errors.position=false">
                        <label for="position" class="form-label">Position <span class="text-danger">*</span></label>
                        <input v-model="position" name="position" type="text" class="form-control" id="position">
                    </div>
                    <div v-if="empStat === 'Employed' || empStat === 'Self-Employed'" class="col-xl-6 form-group mb-2" :data-error="errors.companyName" @click="errors.companyName=false">
                        <label for="companyName" class="form-label">Company Name <span class="text-danger">*</span></label>
                        <input v-model="companyName" name="companyName" type="text" class="form-control" id="companyName">
                    </div>
                    <div v-if="empStat === 'Employed' || empStat === 'Self-Employed'" class="col-xl-12 form-group mb-2">
                        <div class="row">
                            <div v-if="empLoc == 'Philippines'" class="col-xl-12 form-group mb-2" :data-error="errors.companyAddress" @click="errors.companyAddress=false">
                                <label for="companyAddress" class="form-label">Company Address </label>
                                <input v-model="companyAddress" name="companyAddress" id="companyAddress" type="hidden" class="form-control">
                                <autocomplete
                                    initial-value=""
                                    :initial-display="companyAddress"
                                    placeholder="Type your company address..."
                                    :source="dataSource1"
                                    input-class="form-control"
                                    :request-headers="headers"
                                    v-on:selected="onSelect1"
                                    v-on:clear="companyAddress=''"
                                    >
                                </autocomplete>
                            </div>
                        </div>
                    </div>
                    <div v-if="empStat === 'Employed' || empStat === 'Self-Employed'" class="col-xl-6 form-group mb-2" :data-error="errors.from" @click="errors.from=false">
                        <label for="from" class="form-label">From <span class="text-danger">*</span></label>
                        <input v-model="from" name="from" type="date" class="form-control" id="from">
                    </div>
                    <div v-if="empStat === 'Employed' || empStat === 'Self-Employed'" class="col-xl-6 form-group mb-2" :data-error="errors.to" @click="errors.to=false">
                        <div class="d-flex justify-content-between">
                            <label for="to" class="form-label">To <span class="text-danger">*</span></label>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="isPresent" @change="togglePresent">
                                <label class="custom-control-label" for="customSwitch1">Present</label>
                            </div>
                        </div>
                        <input v-model="to" name="to" :type="(isPresent ? 'text' : 'date')" class="form-control" id="to" :disabled="isPresent">
                    </div>

                    <div class="col-xl-12">
                        <div class="form-group mt-2 mb-0 d-flex">
                            <input :value="payload" type="hidden" name="payload" />
                            <button id="btnSubmit" class="btn btn-success flex-grow-1">${updateText}</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/rest-helpers.js"></script>
<script src="{{app.url}}/js/vuejs-auto-complete.js"></script>
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    const ENV = '{{ENV}}';
    const employmentStatusesList = {{employmentStatuses|default([], true)|stringify|safe}}
    const employmentSectorsList = {{employmentSectors|default([], true)|stringify|safe}}
    const employmentLocationsList = {{employmentLocations|default([], true)|stringify|safe}}
    const vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            VuePhAddress.mixin
        ],
        components: {
            'autocomplete': window["vuejs-autocomplete"]
        },
        data: {
            pending: false,
            isPresent: '{{editAlmWork.isPresent}}' === 'true',
            employmentStatusesList: employmentStatusesList,
            employmentSectorsList: employmentSectorsList,
            employmentLocationsList: employmentLocationsList,
            empLoc: '{{editAlmWork.employmentLocation}}',
            employmentStatus: `{{editAlmWork.employmentStatus}}`,
            empStat: `{{editAlmWork.employmentStatus}}`,
            employmentSector: `{{editAlmWork.employmentSector}}`,
            workProgramAlignment: `{{editAlmWork.workProgramAlignment}}`,
            employmentLocation: `{{editAlmWork.employmentLocation}}`,
            position: `{{editAlmWork.position}}`,
            companyName: `{{editAlmWork.companyName}}`,
            companyAddress: `{{editAlmWork.companyAddress}}`,
            from: `{{editAlmWork.from|format_date('YYYY-MM-DD')}}`,
            to: `{{editAlmWork.to}}`,
            errors: {
                employmentStatus: false,
                employmentSector: false,
                workProgramAlignment: false,
                employmentLocation: false,
                position: false,
                companyName: false,
                companyAddress: false,
                from: false,
                to: false
            }
        },
        watch: {
            isPresent: 'togglePresent'
        },
        computed: {
            updateText: function updateText() {
                return this.pending ? 'Updating...' : 'Update';
            },
            payload: function payload() {
                var me = this;
                return JSON.stringify({
                    employmentStatus: me.employmentStatus,
                    employmentSector: me.employmentSector,
                    workProgramAlignment: me.workProgramAlignment,
                    employmentLocation: me.employmentLocation,
                    position: me.position,
                    companyName: me.companyName,
                    companyAddress: me.companyAddress,
                    from: me.from,
                    to: me.to,
                    isPresent: me.isPresent
                });
            }
        },
        methods: {
            checkEmpLoc: function() {
                this.empLoc = this.employmentLocation
            },
            checkEmpStat: function() {
                this.empStat = this.employmentStatus
            },
            togglePresent() {
                if (this.isPresent) {
                    this.to = 'Present'
                } else {
                    this.to = ''
                }
            },
            onSelect1: function(o){
                this.companyAddress = o.display
            },
            dataSource1: function(input) {
                return '/address?s=' + input
            },
            onSubmit: function(e){
                try {
                    const me = this;

                    Object.keys(this.$data).forEach(key => {
                        if(typeof this[key] === 'string'){
                            this[key] = this[key].trim()
                        }
                    });

                    me.$nextTick(function() {
                        me.pending = true;
                        me.$refs.form.submit();
                    });

                } catch (err) {
                    alert(err.message)
                }
            }
        }
        
    });
</script>
{% endblock %}