{% extends "document.html" %}

{% block body %}
<div v-bind:data-pending="pending" class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h3">Edit Eligibility</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/admin/alumni-records/{{editAlm.refNumber}}/view#content4" class="btn btn-sm btn-outline-primary content-nav-btn">
                    <svg width="18px" height="18px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                        <title>Back</title>
                        <path fill="currentColor" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"/><path fill="currentColor" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"/>
                    </svg>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </div>
    {% include 'parts/flash.html' %}
    <div id="vApp" v-cloak>
        <div class="tab-content p-3">
            <form ref="form" v-on:submit.prevent="onSubmit" action="/admin/alumni-records/{{editAlm.refNumber}}/eligibility/{{editAlmEligibility.refNumber}}/edit?_method=patch" method="POST" class="form-default">
                <input type="hidden" name="acsrf" value="{{acsrf}}">

                <div class="row">                    
                    <div class="col-xl-6 form-group mb-2" :data-error="errors.eligibilityType" @click="errors.eligibilityType=false">
                        <label for="eligibilityType" class="form-label">Type of Eligibility <span class="text-danger">*</span></label>
                        <select v-model="eligibilityType" name="eligibilityType" id="eligibilityType" class="form-control" @change="checkEligibilityType">
                            <option value=""></option>
                            <option v-for="s in eligibilityTypesList" :value="s">${s}</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div v-if="eligibilityTypeMatch == 'Others'" class="col-xl-6 form-group mb-2" :data-error="errors.specifyEligibilityType" @click="errors.specifyEligibilityType=false">
                        <label for="specifyEligibilityType" class="form-label">Please specify</label>
                        <input v-model="specifyEligibilityType" name="specifyEligibilityType" type="text" class="form-control" id="specifyEligibilityType">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 form-group mb-2" :data-error="errors.examDate" @click="errors.examDate=false">
                        <label for="examDate" class="form-label">Exam Date / Conferment <span class="text-danger">*</span></label>
                        <input v-model="examDate" name="examDate" type="date" class="form-control" id="examDate">
                    </div>
                    <div class="col-xl-6 form-group mb-2" :data-error="errors.examPlace" @click="errors.examPlace=false">
                        <label for="examPlace" class="form-label">Place of Exam / Conferment <span class="text-danger">*</span></label>
                        <input v-model="examPlace" name="examPlace" type="text" class="form-control" id="examPlace">
                    </div>
                    <div class="col-xl-6 form-group mb-2" :data-error="errors.rating" @click="errors.rating=false">
                        <label for="rating" class="form-label">Rating (If Applicable)</label>
                        <input v-model="rating" name="rating" type="text" class="form-control" id="rating">
                    </div>
                    <div class="col-xl-6 form-group mb-2" :data-error="errors.licenseNumber" @click="errors.licenseNumber=false">
                        <label for="licenseNumber" class="form-label">License Number (If applicable)</label>
                        <input v-model="licenseNumber" name="licenseNumber" type="text" class="form-control" id="licenseNumber">
                    </div>
                    <div class="col-xl-6 form-group mb-2" :data-error="errors.validityDate" @click="errors.validityDate=false">
                        <label for="validityDate" class="form-label">Date of Validity (If applicable)</label>
                        <input v-model="validityDate" name="validityDate" type="date" class="form-control" id="validityDate">
                    </div>

                    <div class="col-xl-12">
                        <div class="form-group mt-2 mb-0 d-flex">
                            <input :value="payload" type="hidden" name="payload" />
                            <button id="btnSubmit" class="btn btn-success flex-grow-1">${saveText}</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/rest-helpers.js"></script>
<script>
    const ENV = '{{ENV}}';
    const eligibilityTypesList = {{eligibilityTypes|default([], true)|stringify|safe}}
    const vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        data: {
            pending: false,
            isOthers: `{{editAlmEligibility.isOthers}}`,
            eligibilityTypeMatch: '',
            eligibilityTypesList: eligibilityTypesList,
            specifyEligibilityType: `{{editAlmEligibility.eligibilityType}}`,
            eligibilityType: '',
            examDate: `{{editAlmEligibility.examDate|format_date('YYYY-MM-DD')}}`,
            examPlace: `{{editAlmEligibility.examPlace}}`,
            rating: `{{editAlmEligibility.rating}}`,
            licenseNumber: `{{editAlmEligibility.licenseNumber}}`,
            validityDate: `{{editAlmEligibility.validityDate|format_date('YYYY-MM-DD')}}`,
            errors: {
                eligibilityType: false,
                examDate: false,
                examPlace: false,
                rating: false,
                licenseNumber: false,
                validityDate: false
            }
        },
        computed: {
            saveText: function saveText() {
                return this.pending ? 'Saving...' : 'Save';
            },
            payload: function payload() {
                var me = this;
                return JSON.stringify({
                    eligibilityType: me.eligibilityType,
                    specifyEligibilityType: me.specifyEligibilityType,
                    examDate: me.examDate,
                    examPlace: me.examPlace,
                    rating: me.rating,
                    licenseNumber: me.licenseNumber,
                    validityDate: me.validityDate
                });
            }
        },
        mounted: function mounted() {
            this.setEligibilityDetails();
        },
        methods: {
            setEligibilityDetails: function() {
                var me = this;
                if (me.isOthers == 'true') {
                    me.eligibilityType = "Others";
                    me.eligibilityTypeMatch = "Others";
                } else {
                    me.eligibilityType = me.specifyEligibilityType;
                    me.eligibilityTypeMatch = "";
                }
            },
            checkEligibilityType: function() {
                var me = this;
                me.eligibilityTypeMatch = me.eligibilityType
                me.specifyEligibilityType = ""
            },
            onSubmit: function(e){
                try {
                    var me = this;

                    Object.keys(me.$data).forEach(key => {
                        if(typeof me[key] === 'string'){
                            me[key] = me[key].trim()
                        }
                    });

                    me.$nextTick(function() {
                        me.pending = true;
                        me.$refs.form.submit();
                    });

                } catch (err) {
                    alert(err.message)
                }
            }
        }
        
    });
</script>
{% endblock %}