<div class="col-md-12 px-0 for-inquiries" style="min-height: 250px;">
    <div class="container">
        <div class="row mt-4">
            <div class="col-xl-5 col-lg-4 order-lg-1 order-2 d-flex flex-row justify-content-start align-items-start for-inquiries" style="min-height: 250px;">
                <div>
                    <p class="mb-0">{{CONFIG.app.title}}</p>
                    <p class="mb-0">© Copyright 2025. All Rights Reserved.</p>
                </div>
                <img style="position: absolute; bottom: 20px; left: 12px; opacity: .3;" src="/images/logo-gsu-mc-op50.png" width="150" alt="">
            </div>
            <div class="col-xl-7 col-lg-8 order-lg-2 order-1">
                <div class="row">
                    <div class="col-xl-6 mb-0">
                        <div class="row">
                            <div class="col-xl-12 col-md-6 mb-2 text-light">
                                <h1 class="h6 mb-1">Office Hours</h1>
                                <div class="d-flex flex-row justify-content-start align-items-center mb-2">
                                    <div class="mr-1 round-nums list-badge-round-nano">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 24 24">
                                            <title>Clock</title>
                                            <path fill="currentColor" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7 14h-8v-9h2v7h6v2z"/></svg>
                                    </div>
                                    <div>8:00 am to 5:00 pm <br>(Monday to Friday)</div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-6 mb-2 text-light">
                                <h1 class="h6 mb-1">Address</h1>
                                <div class="d-flex flex-row justify-content-start align-items-center mb-2">
                                    <div class="mr-1 round-nums list-badge-round-nano">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 24 24">
                                            <title>Location</title>
                                            <path fill="currentColor" d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z"/>
                                        </svg>
                                    </div>
                                    <div>McLain, Buenavista, Guimaras <br>Salvador Campus</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 text-light mb-2">
                        <h1 class="h6 mb-1">For inquiries, please contact:</h1>
                        <p class="mb-0">Alumni Affairs Office</p>
                        <div class="d-flex flex-row justify-content-start align-items-center mb-2">
                            <div class="mr-1 round-nums list-badge-round-nano">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 24 24">
                                    <title>Email</title>
                                    <path fill="currentColor" d="M12 12.713l-11.985-9.713h23.971l-11.986 9.713zm-5.425-1.822l-6.575-5.329v12.501l6.575-7.172zm10.85 0l6.575 7.172v-12.501l-6.575 5.329zm-1.557 1.261l-3.868 3.135-3.868-3.135-8.11 8.848h23.956l-8.11-8.848z"/>
                                </svg>
                            </div>
                            <div><a style="text-decoration: none; color: #FFFFFF;" href="mailto:alumni@gsu.edu.ph"><small>alumni@gsu.edu.ph</small></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>