<div class="col-md-12 bg-white py-2 shadow sticky-top">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <a href="/"><img src="/images/logo-md-label.png" width="45" alt=""></a>
                <span class="ml-2" style="font-weight: 600; color: #00897a;">{{app.title}}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <a href="https://www.gsu.edu.ph">
                    <img src="/images/logo-gsu-xs.png" width="45" alt="">
                </a>
            </div>
        </div>
    </div>
</div>