<div id="sidebar" class="sidebar">
    <div class="d-flex p-3 align-items-center brand">
        <div class="">
            <a href="/">
                <img height="28" width="28" src="/images/q.png" alt="logo">
            </a>
        </div>
        <div class="text-right col pr-0">
            {% include 'parts/btn-toggle.html' %}
        </div>
    </div>
    {% if user.roles and user.roles.includes('qhandler') %}
        {% include 'parts/sidebar-qhandler.html' %}
    {% else %}
    <ul class="nav flex-column mb-2">
        <li class="nav-item {{urlPath|active_class([r/^\/admin\/groups(.?)+/, r/^\/admin\/services(.?)+/], 'expanded')}}" id="nav-item-employees">
            <a class="nav-link {{urlPath|active_class([r/^\/admin\/groups(.?)+/, r/^\/admin\/services(.?)+/])}}" href="/admin/groups">
                <svg style="width:16px;height:16px" viewBox="0 0 24 24"><path fill="currentColor" d="M12,5.5A3.5,3.5 0 0,1 15.5,9A3.5,3.5 0 0,1 12,12.5A3.5,3.5 0 0,1 8.5,9A3.5,3.5 0 0,1 12,5.5M5,8C5.56,8 6.08,8.15 6.53,8.42C6.38,9.85 6.8,11.27 7.66,12.38C7.16,13.34 6.16,14 5,14A3,3 0 0,1 2,11A3,3 0 0,1 5,8M19,8A3,3 0 0,1 22,11A3,3 0 0,1 19,14C17.84,14 16.84,13.34 16.34,12.38C17.2,11.27 17.62,9.85 17.47,8.42C17.92,8.15 18.44,8 19,8M5.5,18.25C5.5,16.18 8.41,14.5 12,14.5C15.59,14.5 18.5,16.18 18.5,18.25V20H5.5V18.25M0,20V18.5C0,17.11 1.89,15.94 4.45,15.6C3.86,16.28 3.5,17.22 3.5,18.25V20H0M24,20H20.5V18.25C20.5,17.22 20.14,16.28 19.55,15.6C22.11,15.94 24,17.11 24,18.5V20Z" /></svg>
                <span>Groups</span>
                <button class="nav-expander" type="button">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                    </svg>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                </button>
            </a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/admin\/groups$/])}}" href="/admin/groups">
                        All
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/admin\/groups\/create/])}}" href="/admin/groups/create">
                        Create
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/admin\/services(.?)+/])}}" href="/admin/services">
                        Services
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item {{urlPath|active_class([r/^\/admin\/counters(.?)+/, r/^\/admin\/ticket\/(.)+/], 'expanded')}}" id="nav-item-employees">
            <a class="nav-link {{urlPath|active_class([r/^\/admin\/counters(.?)+/])}}" href="/admin/counters">
                <svg style="width:16px;height:16px" viewBox="0 0 24 24"><path fill="currentColor" d="M23.5 17L18.5 22L15 18.5L16.5 17L18.5 19L22 15.5L23.5 17M13 19C13 17.5 13.5 16.2 14.4 15.1L11 13V7H12.5V12.2L15.6 14.1C16.6 13.4 17.7 13 19 13C20 13 21 13.3 21.8 13.7C21.9 13.1 22 12.6 22 12C22 6.5 17.5 2 12 2S2 6.5 2 12 6.5 22 12 22C12.6 22 13.2 21.9 13.7 21.8C13.3 21 13 20 13 19Z" /></svg>
                <span>Counters</span>
                <button class="nav-expander" type="button">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                    </svg>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                </button>
            </a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/admin\/counters$/])}}" href="/admin/counters">
                        All
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/admin\/counters\/create/])}}" href="/admin/counters/create">
                        Create
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item {{urlPath|active_class([r/^\/admin\/tickets(.?)+/, r/^\/admin\/ticket\/(.)+/], 'expanded')}}" id="nav-item-employees">
            <a class="nav-link {{urlPath|active_class([r/^\/admin\/tickets(.?)+/])}}" href="/admin/tickets">
                <svg style="width:16px;height:16px" viewBox="0 0 24 24"><path fill="currentColor" d="M20,12A2,2 0 0,0 22,14V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V14C3.11,14 4,13.1 4,12A2,2 0 0,0 2,10V6C2,4.89 2.9,4 4,4H20A2,2 0 0,1 22,6V10A2,2 0 0,0 20,12M16.5,16.25C16.5,14.75 13.5,14 12,14C10.5,14 7.5,14.75 7.5,16.25V17H16.5V16.25M12,12.25A2.25,2.25 0 0,0 14.25,10A2.25,2.25 0 0,0 12,7.75A2.25,2.25 0 0,0 9.75,10A2.25,2.25 0 0,0 12,12.25Z" /></svg>
                <span>Tickets</span>
                <button class="nav-expander" type="button">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                    </svg>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                </button>
            </a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/admin\/tickets$/])}}" href="/admin/tickets">
                        All
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/admin\/tickets\/create/])}}" href="/admin/tickets/create">
                        Create
                    </a>
                </li>
            </ul>
        </li>
       
        <li class="nav-item {{urlPath|active_class([r/^\/admin\/users(.?)+/], 'expanded')}}" id="nav-item-employees">
            <a class="nav-link {{urlPath|active_class([r/^\/admin\/users(.?)+/])}}" href="/admin/users">
                <svg style="width:16px;height:16px" viewBox="0 0 24 24"><path fill="currentColor" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg>
                <span>Users</span>
                <button class="nav-expander" type="button">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                    </svg>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                </button>
            </a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/admin\/users$/])}}" href="/admin/users">
                        All
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{urlPath|active_class([r/^\/admin\/users\/create/])}}" href="/admin/users/create">
                        Create
                    </a>
                </li>
            </ul>
        </li>
    </ul>

   
    {% endif %}
</div>
