{% extends "document.html" %}

{% block body %}
<div class="col-md-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-start">
            <h1 class="h5 mb-0">Create User</h1>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/admin/users" class="btn btn-sm btn-outline-primary">Back</a>
            </div>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#" class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><title>Edit</title><path fill="currentColor" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" /></svg>
                    <span>Details</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content p-3">
        <form ref="form" id="vApp" v-cloak v-on:submit.prevent="onSubmit" action="/admin/users" method="POST" class="form-default">
            <input type="hidden" name="acsrf" value="{{acsrf}}">
            
            <div class="form-group" :data-error="errors.username" @click="errors.username=false">
                <label for="username">Username</label>
                <input v-model="username" name="username" type="text" class="form-control" id="username" >
            </div>
            <div class="form-group" :data-error="errors.password" @click="errors.password=false">
                <label for="password">Password</label>
                <div class="d-flex">
                    <input v-model="password" name="password" type="text" class="form-control" id="password" >
                    <button @click="regen" class="btn btn-light" type="button">Suggest</button>
                </div>
            </div>
            <div class="form-group" :data-error="errors.role" @click="errors.role=false">
                <label for="role">Role</label>
                <select v-model="role" name="role" id="role" class="form-control">
                    <option value=""></option>
                    <option v-for="r in rolesList" :value="r.key">${r.name} - ${r.description}</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary d-inline-flex">
                    <svg style="width:22px;height:22px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Create</title><path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg>
                    <span>Create</span>    
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/rest-helpers.js"></script>
<script>
    const rolesList = {{roles|default([], true)|stringify|safe}}
    const vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        data: {
            rolesList: rolesList,
            username: '',
            password: '{{password}}',
            role: 'ticketer',
            errors: {
                username: false,
                password: false,
                role: false,
            }
        },
        methods: {
            regen: async function(){
                const me = this
                let responseJson = await postAsync(`/admin/users/regen`, {
                    acsrf: `{{acsrf}}`,
                })
                me.password = responseJson.data
            },
            onSubmit: function(){
                try {
                    const me = this;

                    Object.keys(this.$data).forEach(key => {
                        if(typeof this[key] === 'string'){
                            this[key] = this[key].trim()
                        }
                    });

                    if(!me.username){
                        me.errors.username = true
                        throw new Error('Username is required.')
                    }
                    if(!me.password){
                        me.errors.password = true
                        throw new Error('Password is required.')
                    }
                   
                    me.pending = true;
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                } catch (err) {
                    alert(err.message)
                }
            }
        }
    });
</script>
{% endblock %}